
<div class="box">
  <article data-icon="{{ @icon.file }}">
    <div class="discord-preview">
      <img src="/icons/{{ @icon.file }}">
    </div>

    <div class="details">
      <span class="name-author">
<check if="{{ isset(@GET.coucou) }}">
        ({{ @icon.count }} - <em>{{ @icon.submitterName }}</em>)
</check>
        <a href="{{ @icon.source }}">Source</a>
      </span>
<check if="{{ @SESSION.user }}">
      <span class="field has-addons">
        <p class="control">
          <button
<check if="{{ @icon.vote == 1 }}">
<true>class="button is-success"</true>
<false>class="button is-success is-outlined"</false>
</check>
          data-icon="{{ @icon.file }}" data-vote="1">
            <span class="icon is-large">
              <i class="fa fa-thumbs-up"></i>
            </span>
          </button>
        </p>
        <p class="control">
          <button
<check if="{{ @icon.vote == -1 }}">
<true>class="button is-danger"</true>
<false>class="button is-danger is-outlined"</false>
</check>
          data-icon="{{ @icon.file }}" data-vote="-1">
            <span class="icon is-large">
              <i class="fa fa-thumbs-down"></i>
            </span>
          </button>
        </p>
      </span>
</check>
    </div>
  </article>
</div>
