<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <form action="/submit" method="post" enctype="multipart/form-data">
      <header class="modal-card-head">
        <p class="modal-card-title">Soumettre un icône</p>
        <button type="button" class="delete close-modal" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <div class="field">
          <label class="label">Source de l'icône</label>
          <p class="control">
            <input
              class="input"
              placeholder="http://..."
              type="text" name="source" id="source"
              autocomplete="off" maxlength="32">
          </p>
          <p class="help"
            Pas un lien vers le fichier directement, mais lien vers la page de l'artiste.
            Votre soumission sera exclu si ce point n'est pas respecté.
          </p>
        </div>

        <div class="file has-name is-fullwidth">
          <label class="file-label">
            <input class="file-input" type="file" name="icon">
            <span class="file-cta">
              <span class="file-icon">
                <i class="fa fa-upload"></i>
              </span>
              <span class="file-label">
                Ouvrir...
              </span>
            </span>
            <span class="file-name">
              ...
            </span>
          </label>
        </div>
        <p class="help">Doit être plus grand que 512x512 pixels.</p>
      </section>
      <footer class="modal-card-foot">
        <button disabled type="submit" class="button is-success">Envoyer</button>
        <button type="button" class="button close-modal">Fermer</button>
      </footer>
    </form>
  </div>
</div>



