<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ @pageTitle }}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" integrity="sha256-2pUeJf+y0ltRPSbKOeJh09ipQFYxUdct5nTY6GAXswA=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fork-awesome/1.1.5/css/fork-awesome.min.css" integrity="sha256-P64qV9gULPHiZTdrS1nM59toStkgjM0dsf5mK/UwBV4=" crossorigin="anonymous" />
  <link rel="stylesheet" href="/assets/styles.css" />
  <link rel="stylesheet" href="/assets/discord.css" />
</head>
<body>
<section class="section">
  <div class="container">
    <h1 class="title">
      IconoFight
    </h1>
    <p class="subtitle">
      Votez pour la nouvelle icône du serveur !
    </p>

<check if="{{ @SESSION.user }}">
<true>
<check if="{{ @SESSION.success }}">
    <div class="notification is-success">
      {{ @SESSION.success | raw }}
    </div>
</check>
<check if="{{ @SESSION.error }}">
    <div class="notification is-danger">
      {{ @SESSION.error | raw }}
    </div>
</check>
    <p class="login">
      <b>
        <check if="date('H') > 6 && date('H') < 18">
          <true>Bonjour</true>
          <false>Bonsoir</false>
        </check>
        {{ @SESSION.user->username }} !<br>
        <a class="button is-link open-modal">Soumettre une image</a>
      </b>
    </p>
<include href="form.htm" />
</true>
<false>
    <p class="login">
      <a class="button is-info" href="/login">
        <span class="icon">
          <i class="fa fa-discord"></i>
        </span>
        <span>Veuillez vous connecter !</span>
      </a>
    </p>
</false>
</check>
    <div class="boxes">
<repeat group="{{ @list }}" value=" {{ @icon }}">
  <include href="box.htm" />
</repeat>
    </div>
  </div>
</section>
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      IconoFight pour le Discord NLR & RB.<br>
      <strong>Note :</strong> ce site ne fonctionne pas sous
      Internet Explorer, iOS (9 ou moins) et les navigateurs pas à jour.
    </p>
  </div>
</footer>
<script src="/assets/script.js"></script>
</body>
</html>
